html {
    font-size: 10px;
    background-size: cover;
  }
  
  body,html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  #container {
    display: flex;
    align-items: center;
    justify-content: center ;
    flex-direction: column;
  }
  
  h3 {
    text-align: center;
    align-items: center;
    font-size: 5rem;
    margin: 2rem;
  }

  #keys_container {
    margin: 0;
    padding: 0;
    width: 99vh;
    display: flex;
    min-height: 100vh;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    /* justify-content: center;  */ 
  
  }
  
  .key {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    border: .1rem solid black;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem 1rem;
    transition: all .07s ease;
    width: 12rem;
    height: 12rem;
    text-align: center;
    color: white;
    background: rgba(77, 77, 77, 0.4);
    flex-grow: 1
  }


  
  kbd {
    display: block;
    font-size: 3rem;
  }
  
  .sound {
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: #1b1b1b;
  }

  .playing {
    transform: scale(1.1);
    border-color: #ffffff;
    box-shadow: 0 0 1rem #000000;
  }
  